* {
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
    /* box-sizing: border-box; */
    /* font-family:cursive; */
}

html {
    scroll-behavior: smooth;
}
.nav-link:hover{
    font-weight: bolder;
    text-decoration: underline;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 85px;
}

.container h2 {
    color: white;
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
    filter: drop-shadow(2px 2px 2px);
    margin-top: 15px;
}

.item img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 0px 20px;

}

.full {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
    /* margin-left: 33px; */
}

.item {
    color: white;
    margin-top: 30px;
    margin-left: 40px;
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; */
}

.info {
    text-align: center;
}

.info a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    color: rgb(6, 0, 0);
}

.info p {
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

body {
    background: url("../Img/contimg1.jpg")no-repeat center center/cover;

}

#insta {
    color: red;
}

ul i {

    font-size: 25px;
    margin: 0px 8px;
    /* padding: 0px 18px; */
}

         
                       /* Responsiveness */
    
    @media (max-width:1000px) {
        .full{
            display: flex;
            flex-wrap: wrap;
            
        }
        
    }
