  body{
        background: url("../Img/aqua1.jpeg")no-repeat center center/cover;
    }
.nav-link:hover{
    font-weight: bolder;
    text-decoration: underline;
}
    .h-primary{
        margin-top: 10px;
        text-align: center;
        /* font-family:; */
         /* border: 2px solid rgb(0, 0, 0); */
         text-decoration: underline;
         border-radius: 10px;
         /* background-color: rgba(57, 244, 225, 0.778); */

    }
    .container1{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 35px;
        padding-left: 1px;
    }
    .container2{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 35px;
        padding-left: 1px;
    }
    .mathimg img{
        height: 250px;
        width: 100%;
    }
    #formath{
        margin: 10px;
        padding: 0px 40px;
        font-size: 1.2rem;
        text-decoration: underline;
    }
    #vidname1{
        font-size: 1.2rem;
        margin: 12px 10px;
    }
    #vidname2{
        font-size: 1rem;
        margin: 12px 10px;        

    }




                               /* Responsiveness */

    @media (max-width:1100px) {
        .container1{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* margin: 23px 0px ; */
        }
        .container2{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* margin: 23px 0px ; */
        }
        
    }
