* {
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);

}


html {
    scroll-behavior: smooth;
}
.nav-link:hover{
    font-weight: bolder;
    text-decoration: underline;
}

#head1 {
    /* margin: 14px 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
   margin-top: 115px;
    margin-bottom: 50px;
    color: rgb(20, 12, 255);
    border-radius: 9px;
    /* padding: 12px 15px; */
}

.pyq {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* height: 764px; */
}

.contcard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 159px; */
    height: 100%;
    flex-wrap: wrap;
    /* margin-top: 70px; */
}


.contcard .card {
    position: relative;
    width: 343px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 77px;
    margin-top: 35px;
    height: 293px;
    background: #9fe9ff;
    border-radius: 20px;
    /* box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15); */
    transition: 0.5s;


}

.contcard .card:hover {
    height: 300px;

}

.contcard .card .imgbox {
    position: absolute;
    width: 300px;
    height: 220px;
    background: #333;
    top: 20px;
    border-radius: 12px;
    transition: 0.5s;
    /* overflow: hidden; */

}

.contcard .card .imgbox img {
    height: 60px;
    height: 60px;
    border-radius: 10px;
}

.contcard .card:hover .imgbox {
    top: -100px;
    scale: 0.75;
    /* box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2); */



}

.contcard .card .imgbox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.contcard .card .content {
    position: absolute;
    top: 250px;
    width: 100%;
    padding: 3px 30px;
    text-align: center;
    height: 35px;
    transition: 0.5s;
    overflow: hidden;
    object-fit: cover;
    color: rgb(0, 0, 0);



}

.contcard .card:hover .content {
    top: 150px;
    height: 250px;

}


.contcard .card .content h1 {
    font-size: 1em;
    font-weight: 700;
    color: rgb(255, 0, 0);


}


body {
    background: url("../Img/lib2.webp") no-repeat center center/cover;
}


#heading2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    color: rgb(20, 12, 255);
}

#notes {

    display: flex;
    justify-content: space-around;
    /* text-align: center; */
    flex-wrap: wrap;
}

.subwise {
    background: #9fe9ff;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    margin-top: 45px;
    /* width: 18%; */
    width: 342px;
    height: 100%;
}

.subwise:hover {
    transform: translateY(-15px);
    transition: .5s;
    filter: drop-shadow(3px 3px 3px white);
}

.subwise h4 {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.subwise ul li {
    list-style: disc;
    margin-left: 30px;
    margin: 23px;

}

.subwise ul li a {
    color: rgb(255, 0, 0);
    text-decoration: underline;
    /* margin: 23px; */
}

#notice {
    margin-top: 40px;
    text-align: center;
    color: rgb(20, 12, 255);
    text-decoration: underline;
}



/* Responsiveness */
@media (max-width:800px) {
    /* .pyq{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    } */

    .contcard {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #notes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;

    }

    .subwise h4 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


