* {
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);

}


html {
    scroll-behavior: smooth;
}

/* #navbar {
    display: flex;
    align-items: center;
    position: absolute;
}

#navbar::before {

    content: "";
    background-color: rgb(4, 3, 3);
    position: absolute;

    height: 100%;
    width: 145%;
    z-index: -1;

    opacity: 0.5;
}

#logo {
    margin: 10px 10px;


}

#logo img {
    height: 100px;
    width: 150px;
    margin: 2px 1px;

}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.7rem;
  


}

#navbar ul li a {
    display: block;
    padding: 0px 50px;
    text-decoration: none;

    border-radius: 5px;
    margin: 0px 30px;
    padding: 2px 19px;
    

}

#navbar ul li a:hover {
    background-color: rgb(218, 175, 68);

    color: white;

} */
/* 
#home {
    display: flex;
    flex-direction: column;
    padding: 0px 238px;
    justify-items: center;
    align-items: center;
} */



#head1 {
    /* margin: 14px 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    margin-top: 22px;
    margin-bottom: 50px;
    color: rgb(159, 0, 0);
    border-radius: 9px;
    /* padding: 12px 15px; */
}

.pyq {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* height: 764px; */
}

.contcard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 159px; */
    height: 100%;
    flex-wrap: wrap;
    /* margin-top: 70px; */
}


.contcard .card {
    position: relative;
    width: 343px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 77px;
    margin-top: 4px;
    height: 293px;
    background: #9fe9ff;
    border-radius: 20px;
    /* box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15); */
    transition: 0.5s;


}

.contcard .card:hover {
    height: 300px;

}

.contcard .card .imgbox {
    position: absolute;
    width: 300px;
    height: 220px;
    background: #333;
    top: 20px;
    border-radius: 12px;
    transition: 0.5s;
    /* overflow: hidden; */

}

.contcard .card .imgbox img {
    height: 60px;
    height: 60px;
    border-radius: 10px;
}

.contcard .card:hover .imgbox {
    top: -100px;
    scale: 0.75;
    /* box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2); */



}

.contcard .card .imgbox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.contcard .card .content {
    position: absolute;
    top: 250px;
    width: 100%;
    padding: 3px 30px;
    text-align: center;
    height: 35px;
    transition: 0.5s;
    overflow: hidden;
    object-fit: cover;
    color: rgb(0, 0, 0);



}

.contcard .card:hover .content {
    top: 150px;
    height: 250px;

}


.contcard .card .content h1 {
    font-size: 1em;
    font-weight: 700;
    color: rgb(255, 0, 0);


}
body{
    background: url("../Img/lib2.webp") no-repeat center center/cover;
}


                   /* Responsiveness */
@media (max-width:800px) {
    /* .pyq{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    } */
    
    .contcard{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
}


